<div id="questionId{{ question.id }}answersList" class="questionAnswersList">
    <legend class="answerLegend">
        <button type="button" class="btn btn-link answersListShow" id="questionId{{ question.id }}answersListShow"><i class="icon-chevron-down"></i>{{ 'Answers' | trans }} ({{ question.answers | length }})</button>
    </legend>
    <ul id="questionId{{ question.id }}answersListUl" class="answersListUl connectedSortable2">
        {% for answer in question.answers %}
            <li id="answerId{{ answer.id }}">
                <div class="answer_buttons">
                    <a data-target="#answerQuestionsModal{{ answer.id }}" href="{{ path('answer_questions', { 'id': answer.id }) }}" data-toggle="modal" class="btn btn-small btn-warning selectAnswerQuestion">
                        <i class="icon-tasks"></i>
                        {{ 'Select disabled questions' | trans }}
                        <span id="answerQuestionsNumber{{ answer.id }}" class="badge {% if answer.disabledQuestions|length > 0 %}badge-success{% endif %} validationQuestionsNumber">{{ answer.disabledQuestions | length }}</span>
                    </a>
                    &nbsp;
                    <a class="btn btn-mini btn-danger deleteAnswer" href="{{ path('answer_delete', { 'answerId': answer.id }) }}">
                        <i class="icon-trash"></i>
                        {{ 'Delete' | trans }}
                    </a>
                </div>
                <p class="answer">{{ answer.answer }} ({{ 'Raw value' | trans }}: <strong>{{ answer.rawValue }}</strong>)</p>
                <p class="answerHelp">{{ answer.help }}</p>
                <!-- Modal -->
                <div id="answerQuestionsModal{{ answer.id }}" class="modal hide fade answerQuestionsModal" >
                    <img src="{{ asset('bundles/teclliureuser/images/ajax-loading.gif') }}" alt="{{ 'Ajax loading'|trans }}" style="margin: auto auto">
                </div>
            </li>
        {% endfor %}
    </ul>
</div>