<form id="saveQuestionForm" action="{{ path('question_save', { 'id': entity.id, 'questionId': questionForm.vars.data.id }) }}" method="post">
    <div>
        {{ form_label(questionForm.question, 'Question') }}
        {{ form_errors(questionForm.question) }}
        {{ form_widget(questionForm.question) }}
    </div>

    <div>
        {{ form_row(questionForm.help) }}
    </div>

    {{ form_rest(questionForm) }}

    <button type="submit" class="btn btn-primary btn-mini">{{ 'Question add' | trans }}</button>
</form>