<div class="question_buttons">
    <a class="btn btn-small btn-info editQuestion" href="{{ path('question_edit', { 'questionId': question.id }) }}">
        <i class="icon-edit"></i>
        {{ 'Edit' | trans }}
    </a>
    &nbsp;
    <a class="btn btn-small btn-danger deleteQuestion" href="{{ path('question_delete', { 'questionId': question.id }) }}">
        <i class="icon-trash"></i>
        {{ 'Delete' | trans }}
    </a>
</div>
<h4>{{ question.question }}</h4>
<p class="questionHelp">{{ question.help|raw }}</p>

<div id="questionId{{ question.id }}answers">
    {% include 'TeclliureQuestionBundle:Question:answerElement.html.twig' %}
</div>