{% extends '::one_column.html.twig' %}

{% block title %}{{ "Dashboard quest" | trans }}{% endblock %}

{% block inner_content %}
    <a class="btn btn-primary" href="{{ path('patient_new') }}">
        <i class="icon-plus-sign"></i>
        {{ 'Create new person' | trans }}
    </a>

    <form class="navbar-search pull-right" method="get" action="{{ path('home') }}">
        {% if searchString %}
            <a href="{{ path('home') }}" class="btn btn-mini btn-danger">{{ 'Reset' | trans }}</a>
        {% endif %}
        <input name="searchString" type="text" class="search-query span2" placeholder="{% if searchString %}{{ searchString }}{% else %}{{ 'Search' | trans }}{% endif %}">
        <button type="submit" class="btn btn-mini"><i class="icon-search"></i> {{ 'Search' | trans }}</button>
    </form>
    

    <table class="records_list table table-bordered table-striped" style="margin-top: 20px;">
        <thead>
        <tr>
            <th style="width: 35%">{{ 'Name' | trans }}</th>
            <th>{{ 'Identification' | trans }}</th>
            <th>{{ 'Email' | trans }}</th>
            <th>{{ 'Created/Updated' | trans }}</th>
            <th>{{ 'Active' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('patient_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.identification }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    <small>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</small>
                </td>
                <td style="text-align: center">
                    {% if entity.active %}
                        <img src="{{ asset('bundles/sonataadmin/famfamfam/accept.png') }}" alt="{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}" />
                    {% else %}
                        <img src="{{ asset('bundles/sonataadmin/famfamfam/exclamation.png') }}" alt="{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}" />
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {{ simple_paginator_render('home', null, {
    'routeParams' : {'searchString' : searchString},
    'container_class': '',
    'previousPageText': '‹',
    'nextPageText': '›',
    'currentClass': 'active',
    'firstPageText': '«',
    'lastPageText': '»'
    },
    ':shared:simple-paginator.html.twig'
    ) }}
{% endblock %}