{% extends '::one_column.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/teclliurepatient/js/selectQuestionary.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ "Select questionary" | trans }}{% endblock %}

{% block inner_content %}
<div id="filterQuestionaryName" >
    <form action="{{ path('questionary_patient_new', { 'id': entity.id }) }}" method="post" {{ form_enctype(searchForm) }} class="form-search" id="filterQuestionaryNameForm">
        <div class="input-append">
        {{ form_widget(searchForm.name, { 'attr': {'class': 'search-query', 'placeholder': 'Filter questionaries by name'|trans } }) }}
        <button type="submit" class="btn">{{ 'Search'|trans }}</button>
        <button type="button" id="resetSearch" style="margin-left: 10px" class="btn-small btn-danger">{{ 'Reset search'|trans }}</button>
        <img src="{{ asset('bundles/teclliureuser/images/ajaxLoadingMedium.gif') }}" style="display: none; margin-left: 15px;" id="searchLoading" />
        {{ form_widget(searchForm) }}
        </div>
    </form>

</div>
<div style="float: right">
    <div class="sonata-actions">
        <a class="btn sonata-action-element" href="{{ path('patient_show', { 'id': entity.id }) }}">
            {{ 'Back to show' | trans }}
        </a>
    </div>
</div>
<br />
<br />
<legend>
    {{ 'Person' | trans }} <span id="legendName">{{ entity.name }}</span>
</legend>

<div  id="selectQuestionary">
    {% include 'TeclliurePatientBundle:Patient:questionariesList.html.twig' %}
</div>
{% endblock %}