{% extends '::one_column.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/teclliurepatient/js/patientForm.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ "Person Show" | trans }}{% endblock %}

{% block inner_content %}
<div style="float: left"><a class="btn btn-danger btn-sonata-action-element" href="{{ path('patient_delete', { 'id': entity.id }) }}">{{ 'Delete patient' | trans }}</a></div>
<div style="float: right">
    <div class="sonata-actions">
        <a class="btn btn-primary btn-sonata-action-element" href="{{ path('questionary_patient_new', { 'id': entity.id }) }}">{{ 'New questionary' | trans }}</a>
        <a class="btn sonata-action-element" href="{{ path('home') }}">
            {{ 'Back to the list' | trans }}
        </a>
    </div>
</div>
<br />
<br />
<legend>
    {{ 'Person' | trans }} <span id="legendName">{{ entity.name }}</span>
</legend>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#show" data-toggle="tab">{{ 'Show' | trans }}</a></li>
  <li><a href="#editPatientForm" data-toggle="tab">{{ 'Edit' | trans }}</a></li>
  <li><a href="#questionaries" data-toggle="tab">{{ 'Questionaries' | trans }}</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active showContent" id="show">
        {% include 'TeclliurePatientBundle:Patient:showContent.html.twig' %}
    </div>

    <div class="tab-pane" id="editPatientForm">
        {% include 'TeclliurePatientBundle:Patient:editForm.html.twig' %}
    </div>

    <div class="tab-pane" id="questionaries">
        {% include 'TeclliurePatientBundle:Patient:questionaries.html.twig' %}
    </div>
</div>



{% endblock %}