<div id="questionId{{ question.id }}answersList" class="questionAnswersList">
    <legend class="answerLegend">
        <button type="button" class="btn btn-link answersListShow" id="questionId{{ question.id }}answersListShow"><i class="icon-chevron-down"></i>{{ 'Answers' | trans }} ({{ question.answers | length }})</button>
    </legend>
    <ul id="questionId{{ question.id }}answersListUl">
        {% for answer in question.answers %}
            <li>
                <div class="answer_buttons">
                    &nbsp;
                    <a class="btn btn-mini btn-danger deleteAnswer" href="{{ path('answer_delete', { 'answerId': answer.id }) }}">
                        <i class="icon-trash"></i>
                        {{ 'Delete' | trans }}
                    </a>
                </div>
                <p class="answer">{{ answer.answer }} ({{ 'Raw value' | trans }}: <strong>{{ answer.rawValue }}</strong>)</p>
                <p class="answerHelp">{{ answer.help }}</p>
            </li>
        {% endfor %}
    </ul>
</div>