{% extends '::one_column.html.twig' %}

{% block title %}{{ "Questionary list" | trans }}{% endblock %}

{% block inner_content %}
<table class="records_list table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{ 'Name' | trans }}</th>
            <th>{{ 'Description' | trans }}</th>
            <th>{{ 'Created' | trans }}</th>
            <th>{{ 'Updated' | trans }}</th>
            <th>{{ 'Active' | trans }}</th>
            <th>{{ 'Actions' | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('questionary_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.description }}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                {% if entity.active %}
                    <img src="{{ asset('bundles/sonataadmin/famfamfam/accept.png') }}" alt="{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}" />
                {% else %}
                    <img src="{{ asset('bundles/sonataadmin/famfamfam/exclamation.png') }}" alt="{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}" />
                {% endif %}
            </td>
            <td>
                <div class="btn-group btn-group-vertical">
                    <a class="btn btn-mini" href="{{ path('questionary_show', { 'id': entity.id }) }}">
                        <i class="icon-eye-open"></i> {{ 'Show' | trans }}
                    </a>
                    <a class="btn btn-mini" href="{{ path('questionary_edit', { 'id': entity.id }) }}">
                        <i class="icon-edit"></i> {{ 'Edit' | trans }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pager well form-actions">
{{ simple_paginator_render('questionary') }}
</div>

<a class="btn btn-primary" href="{{ path('questionary_new') }}">
    {{ 'Create a new entry' | trans }}
</a>
{% endblock %}