{% extends '::one_column.html.twig' %}

{% block title %}{{ "Questionary Show" | trans }}{% endblock %}

{% block inner_content %}
<div style="float: right">
    <div class="sonata-actions">
        <a class="btn sonata-action-element" href="{{ path('questionary_new') }}">{{ 'Add new' | trans }}</a>
        <a class="btn sonata-action-element" href="{{ path('questionary') }}">
            {{ 'Back to the list' | trans }}
        </a>
    </div>
</div>
<br />
<br />
<table class="record_properties table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>
                {% if entity.active %}
                    <img src="{{ asset('bundles/sonataadmin/famfamfam/accept.png') }}" alt="{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}" />
                {% else %}
                    <img src="{{ asset('bundles/sonataadmin/famfamfam/exclamation.png') }}" alt="{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}" />
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<div class="well form-actions">
    <a class="btn btn-primary" href="{{ path('questionary_edit', { 'id': entity.id }) }}">
        {{ 'Edit' | trans }}
    </a>
    {{ 'or' | trans }}
    <a class="btn btn-danger" href="{{ path('questionary_delete', { 'id': entity.id }) }}">{{ 'Delete' | trans }}</a>
</div>
{% endblock %}