{% extends '::one_column.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/teclliurequestion/js/questionForm.js') }}" type="text/javascript"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ "Questionary Show" | trans }}{% endblock %}

{% block inner_content %}
<div style="float: right">
    <div class="sonata-actions">
        <a class="btn sonata-action-element" href="{{ path('questionary_new') }}">
            <i class="icon-plus-sign"></i>
            {{ 'Add new' | trans }}
        </a>
        <a class="btn sonata-action-element" href="{{ path('questionary') }}">
            <i class="icon-list"></i>
            {{ 'Back to the list' | trans }}
        </a>
    </div>
</div>
<br />
<br />
<legend>
    {{ 'Questionary' | trans }} {{ entity.name }}
</legend>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#show" data-toggle="tab">Show</a></li>
  <li><a href="#questions" data-toggle="tab">Questions</a></li>
  <li><a href="#validations" data-toggle="tab">Validation rules</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="show">
      <table class="record_properties table table-bordered table-striped">
          <tbody>
          <tr>
              <th>Library reference</th>
              <td>{{ entity.libraryReference }}</td>
          </tr>
          <tr>
              <th>Description</th>
              <td>{{ entity.description }}</td>
          </tr>
          <tr>
              <th>Help</th>
              <td>{{ entity.help }}</td>
          </tr>
          <tr>
              <th>Created</th>
              <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
          </tr>
          <tr>
              <th>Updated</th>
              <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
          </tr>
          <tr>
              <th>Active</th>
              <td>
                  {% if entity.active %}
                      <img src="{{ asset('bundles/sonataadmin/famfamfam/accept.png') }}" alt="{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}" />
                  {% else %}
                      <img src="{{ asset('bundles/sonataadmin/famfamfam/exclamation.png') }}" alt="{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}" />
                  {% endif %}
              </td>
          </tr>
          </tbody>
      </table>

      <div class="well form-actions">
          <a class="btn btn-primary" href="{{ path('questionary_edit', { 'id': entity.id }) }}">
              <i class="icon-edit"></i>
              {{ 'Edit' | trans }}
          </a>
          {{ 'or' | trans }}
          <a class="btn btn-danger" href="{{ path('questionary_delete', { 'id': entity.id }) }}">
              <i class="icon-trash"></i>
              {{ 'Delete' | trans }}
          </a>
      </div>
    </div>

    <div class="tab-pane" id="questions">
        {% include 'TeclliureQuestionBundle:Question:question.html.twig' %}
    </div>

    <div class="tab-pane" id="validations">
        {% include 'TeclliureQuestionBundle:Validation:validation.html.twig' %}
    </div>
</div>



{% endblock %}