{% extends '::one_column.html.twig' %}

{% block title %}{{ 'Frontpage Quiz'| trans }}{% endblock %}

{% block inner_content %}
    {% if error %}
        <div  class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{ 'Error!'| trans }}</strong>
            {{ error.message|trans }}
        </div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" class="form-signin">
        <h2 class="form-signin-heading">{{ 'Please sign in'| trans }}</h2>
        <input id="username" name="_username" class="input-block-level" placeholder="{{ 'Email address'| trans }}" value="{{ last_username }}" type="text">
        <input id="password" name="_password" class="input-block-level" placeholder="{{ 'Password'| trans }}" type="password">
        <label class="checkbox">
            <input name="_remember_me" value="remember-me" type="checkbox" checked> {{ 'Remember me'| trans }}
        </label>
        <div style="text-align: right">
            <button class="btn btn-primary" type="submit">{{ 'Sign in'| trans }}</button>
        </div>
        <div style="text-align: center; margin: 10px 0;" class="well well-small">
            {{ 'Want to use the tool ?'|trans }}<a href="{{ path('register') }}" class="btn btn-link"><i class="icon-user"></i>{{ 'Register now'|trans }}</a>
        </div>
    </form>
{% endblock %}