{% extends '::skeleton.html.twig' %}

{% block content %}
<div class="span12">
    <div id="content">
        <div class="inner">
            <div class="alert alert-block alert-error fade in">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4 class="alert-heading">{{ 'Oh snap! You got an error!' | trans }}</h4>
                {{ msg | trans }}
                <p>
                    <a class="btn btn-danger" href="{{ path('home') }}">{{ 'Back to homepage' | trans }}</a> <a class="btn" href="javascript: history.go(-1)">{{ 'Back to previous page' | trans }}</a>
                </p>
            </div>

        </div>
    </div>
</div>
{% endblock %}
