{% extends '::one_column.html.twig' %}

{% block title %}{{ "Select validations" | trans }}{% endblock %}

{% block inner_content %}
<div style="float: right">
    <div class="sonata-actions">
        <a class="btn sonata-action-element" href="{{ path('patient_show', { 'id': entity.patient.id }) }}">
            {{ 'Back to show' | trans }}
        </a>
    </div>
</div>
<br />
<br />
<legend>
    {{ 'Person' | trans }} <span class="legendName">{{ entity.patient.name }}</span>
    {{ 'Questionary' | trans }} <span class="legendName">{{ entity.questionary.name }}</span>
</legend>

<form id="saveValidationsForm" class="patientQuestionaryId{{ entity.id }}" action="{{ path('questionary_patient_validation', { 'id': entity.id }) }}" method="post" {{ form_enctype(patientQuestionaryForm) }}>
    {{ form_widget(patientQuestionaryForm) }}

    <div class="well form-actions">
        <button class="btn btn-primary" type="submit">{{ 'Save'| trans }}</button>
    </div>
</form>

{% endblock %}