{% extends '::one_column.html.twig' %}

{% block title %}{{ "Questionary results" | trans }}{% endblock %}

{% block inner_content %}
<div style="float: right">
    <div class="sonata-actions">
        <a class="btn sonata-action-element" href="{{ path('patient_show', { 'id': entity.patient.id }) }}">
            {{ 'Back to show' | trans }}
        </a>
    </div>
</div>
<br />
<br />
<legend>
    {{ 'Person' | trans }} <span class="legendName">{{ entity.patient.name }}</span>
    {{ 'Questionary' | trans }} <span class="legendName">{{ entity.questionary.name }} ({{ 'Raw value'|trans }}: {{ entity.getTotalValue }})</span>
</legend>

<div id="validationResults">
    {% for result in results %}

        <div class="result well well-small">
            <legend class="resultValidationName">
                {{ 'Validation'|trans }}: {{ result.name }}
                {% if result.selectedValidationRule is not empty %}
                    <button type="button" class="btn btn-success" style="float: right;">
                        <i class="icon-ok"></i>
                    </button>
                {% else %}
                    <button type="button" class="btn btn-danger" style="float: right;">
                        <i class="icon-remove"></i>
                    </button>
                {% endif %}
            </legend>
            <div class="resultValidationDesc">{{ result.help }}</div>
            {% if result.selectedValidationRule is not empty %}
                <legend class="resultValidationRuleName">{{ 'Result'|trans }}: {{ result.selectedValidationRule.name }}</legend>
                <div class="resultValidationRuleDesc">{{ result.selectedValidationRule.help }}</div>
            {% else %}
                <legend class="resultValidationRuleName">{{ 'Result'|trans }}: {{ 'No matching rule'|trans }}</legend>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}