<div id="validationId{{ validation.id }}rulesList" class="validationRulesList">
    <legend class="ruleLegend">
        <button type="button" class="btn btn-link rulesListShow" id="validationId{{ validation.id }}answersListShow"><i class="icon-chevron-down"></i>{{ 'Rules' | trans }} ({{ validation.validationRules | length }})</button>
    </legend>
    <ul id="validationId{{ validation.id }}rulesListUl" class="rulesListUl">
        {% for rule in validation.validationRules %}
            <li id="ruleId{{ rule.id }}">
                <div class="rule_buttons">
                    <a class="btn btn-mini btn-info editRule ruleShowForm" id="validationId{{ validation.id }}showForm" href="{{ path('rule_form_show', { 'validationId': validation.id, 'ruleId': rule.id }) }}">
                        <i class="icon-edit"></i>
                        {{ 'Edit' | trans }}
                    </a>
                    &nbsp;
                    <a class="btn btn-mini btn-danger deleteRule" href="{{ path('rule_delete', { 'ruleId': rule.id }) }}">
                        <i class="icon-trash"></i>
                        {{ 'Delete' | trans }}
                    </a>
                </div>
                <p class="rule">{{ rule.name }} ({{ 'Range' | trans }}: <strong>{{ rule.rangeMin }} {{ rule.rangeMax }}</strong>)</p>
                <p class="ruleHelp">{{ rule.help|raw }}</p>
            </li>
        {% endfor %}
    </ul>
</div>