<a href="{{ path('rule_form_show', { 'validationId': validation.id }) }}"  id="validationId{{ validation.id }}showForm" class="btn btn-mini ruleShowForm validationId{{ validation.id }}showForm" style="float: right;">
    <i class="icon-chevron-right"></i> {{ 'Add rule' | trans }}
</a>
<div id="validationId{{ validation.id }}RuleForm" {% if ruleForm is not defined %}style="display: none"{% endif %}>
    {% if ruleForm is defined %}
        {% include 'TeclliureQuestionBundle:Validation:ruleForm.html.twig' %}
    {% endif %}
</div>


{% include 'TeclliureQuestionBundle:Validation:ruleList.html.twig' %}