<div class="validation_buttons">
    &nbsp;
    <a data-target="#validationQuestionsModal{{ validation.id }}" href="{{ path('validation_questions', { 'id': validation.id }) }}" data-toggle="modal" class="btn btn-small btn-warning selectValidationQuestion">
        <i class="icon-tasks"></i>
        {{ 'Select questions used in validation' | trans }}
    </a>
    &nbsp;
    <a class="btn btn-small btn-danger deleteValidation" href="{{ path('validation_delete', { 'validationId': validation.id }) }}">
        <i class="icon-trash"></i>
        {{ 'Delete' | trans }}
    </a>
</div>
<h4>{{ validation.name }}</h4>
<p class="validationHelp">{{ validation.help }}</p>

<div id="validationId{{ validation.id }}rules">
    {% include 'TeclliureQuestionBundle:Validation:ruleElement.html.twig' %}
</div>

<!-- Modal -->
<div id="validationQuestionsModal{{ validation.id }}" class="modal hide fade validationQuestionsModal" >
    <img src="{{ asset('bundles/teclliureuser/images/ajax-loading.gif') }}" alt="{{ 'Ajax loading'|trans }}" style="margin: auto auto">
</div>